*{box-sizing: border-box;
    /* border: 1px solid black; */
}

body{
    width: 1880px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 1280px;
    height: 120px;
}

footer{
    width: 1280px;
    height: 180px;
}
/* ----------------------------------------------------------------------------------- */
main{ /* 메인 */
    width: 1280px;
    height: 1000px;
    /* background-color: aliceblue; */
    display: flex;
}

.sideP{ /* 카테고리 사이드바 */
    width: 300px;
    height: 1000px;
    /* background-color: aquamarine; */
    border-right: 1px solid rgb(243, 243, 243);
}

.profileP{ /* 프로필 사진 / 이름 영역 */
    width: 300px;
    height: 150px;
    display: flex;
}

.profile-areaP{ /* 프로필 사진 영역*/
    width: 110px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-img{ /* 프로필 사진 */
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nameP{ /* 이름 */
    width: 190px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 0;
}

#idP{
    font-size: 30px;
    font-weight: bold;
    margin: 0 8px 0 0;
}

#fixP{
    font-size: 30px;
    font-weight: bold;
}


.category-areaP{ /* 카테고리 */
    width: 300px;
    height: 850px;
}

.category-tableP{
    margin: 30px 0 0 10px;
    border-spacing: 0px;
}

.categoryP{
    width: 300px;
    height: 60px;
}

.categoryP:hover{
    background-color: rgb(249, 249, 249);
}

.categoryP>td{
    font-size: 20px;
}

#class3{font-size: 22px;}
#class4{font-size: 31px;}

.categoryP a{
    margin: 0 3px 0 3px;
    text-decoration: none;
    color: rgb(153, 153, 153);
}
/* ------------------------------------------------------------------------------------- */

.containerP{ /* 메인 내용 */
    width: 980px;
    height: 1000px;
    border-radius: 10px;
}

