*{box-sizing: border-box;
    border: 1px solid black;
}

body{
    width: 1880px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 1280px;
    height: 120px;
}

footer{
    width: 1280px;
    height: 180px;
}
/* ----------------------------------------------------------------------------------- */
main{ /* 메인 */
    width: 1280px;
    height: 1000px;
    /* background-color: aliceblue; */
    display: flex;
}

.sideP{ /* 카테고리 사이드바 */
    width: 300px;
    height: 1000px;
    /* background-color: aquamarine; */
    border-right: 1px solid rgb(243, 243, 243);
}

.profileP{ /* 프로필 사진 / 이름 영역 */
    width: 300px;
    height: 150px;
    display: flex;
}

.profile-areaP{ /* 프로필 사진 영역*/
    width: 110px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-img{ /* 프로필 사진 */
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nameP{ /* 이름 */
    width: 190px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 0;
}

#idP{
    font-size: 30px;
    font-weight: bold;
    margin: 0 8px 0 0;
}

#fixP{
    font-size: 30px;
    font-weight: bold;
}


.category-areaP{ /* 카테고리 */
    width: 300px;
    height: 850px;
}

.category-tableP{
    border-spacing: 0px;
    margin-top: 15px;
}

.categoryP{
    width: 300px;
    height: 60px;
}

.categoryP:hover{
    background-color: rgb(249, 249, 249);
}

.categoryP>td{
    font-size: 20px;
    width: 300px;
}

#class3{font-size: 22px;}
#class4{font-size: 31px;}

.categoryP a{
    margin: 0 3px 0 3px;
    text-decoration: none;
    color: rgb(153, 153, 153);
}

/* ------------------------------------------------------------------------------------- */
#category-firstP{
    background-color: rgb(249, 249, 249);
}

#category-firstP a{
    color: rgb(255, 16, 88);
}
/* ------------------------------------------------------------------------------------- */

.containerH{ /* 메인 내용 */
    width: 980px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#payment-main-1{
    height: 140px;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 18pt;
    font-weight: 700;
    border-bottom: 1px solid rgb(230, 230, 230);
}
#payment-main-2{
    height: 80px;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 11pt;
    border-bottom: 1px solid rgb(230, 230, 230);
}

#payment-main-2-1{
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0 10px;
    padding : 0 10px;
    border: 1px solid rgb(200,200,200);
    color: grey;
}

.payment-main-2-1{
    background-color: red !important;
    color:white !important;
}

#payment-main-3{
    height: 140px;
    width: 80%;
    display: flex;
    font-size: 11pt;
    justify-content: center;
    border-bottom: 1px solid rgb(230, 230, 230);
}

#payment-main-3-1{
    background-color: rgb(240,240,240);
    width: 750px;
    height: 100px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#payment-main-3-1 p {
    color: grey;
}



