*{box-sizing: border-box;
    /* border: 1px solid black; */
}

body{
    width: 1880px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    width: 1280px;
    height: 120px;
}

footer{
    width: 1280px;
    height: 180px;
}
/* ----------------------------------------------------------------------------------- */
main{ /* 메인 */
    width: 1280px;
    height: 1000px;
    /* background-color: aliceblue; */
    display: flex;
}

.sideP{ /* 카테고리 사이드바 */
    width: 300px;
    height: 1000px;
    /* background-color: aquamarine; */
    border-right: 1px solid rgb(243, 243, 243);
}

.profileP{ /* 프로필 사진 / 이름 영역 */
    width: 300px;
    height: 150px;
    display: flex;
}

.profile-areaP{ /* 프로필 사진 영역*/
    width: 110px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-img{ /* 프로필 사진 */
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nameP{ /* 이름 */
    width: 190px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 0;
}

#idP{
    font-size: 30px;
    font-weight: bold;
    margin: 0 8px 0 0;
}

#fixP{
    font-size: 30px;
    font-weight: bold;
}


.category-areaP{ /* 카테고리 */
    width: 300px;
    height: 850px;
}

.category-tableP{
    border-spacing: 0px;
    margin-top: 15px;
}

.categoryP{
    width: 300px;
    height: 60px;
}

.categoryP:hover{
    background-color: rgb(249, 249, 249);
}

.categoryP>td{
    font-size: 20px;
    width: 300px;
}

#class3{font-size: 22px;}
#class4{font-size: 31px;}

.categoryP a{
    margin: 0 3px 0 3px;
    text-decoration: none;
    color: rgb(153, 153, 153);
}

/* ------------------------------------------------------------------------------------- */
#category-firstP{
    background-color: rgb(249, 249, 249);
}

#category-firstP a{
    color: rgb(255, 16, 88);
}
/* ------------------------------------------------------------------------------------- */

.containerH{ /* 메인 내용 */
    width: 980px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#main-1{
    height: 140px;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 18pt;
    font-weight: 700;
    border-bottom: 1px solid rgb(230, 230, 230);
}
#main-2{
    height: 80px;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 11pt;
    border-bottom: 1px solid rgb(230, 230, 230);

}

#main-2-2{
    margin-left: 200px;
    display: flex;
    align-items: center;
}

#main-2-2-write{
    background-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(200, 200, 200);
}

#main-3{
    height: 140px;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 11pt;
    border-bottom: 1px solid rgb(230, 230, 230);
}

#main-3-2{
    margin-left: 196px;
    display: flex;
    align-items: center;
    position: relative;
}

#main-3-2-btn-1{
    font-size: 15pt;
    position: absolute;
    color:white;
    background-color: red;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -10px;
    bottom: -10px;
    border: none;
}
#main-3-2-btn-1:hover{
    cursor: pointer;
}

#main-3-2-btn-2{
    display: none;
}

#main-4{
    height: 80px;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 11pt;
    border-bottom: 1px solid rgb(230, 230, 230);
}

#main-4-2{
    margin-left: 172px;
}
#main-5{
    height: 150px;
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 11pt;
}

#main-5-2{
    margin-left: 224px;

}


