*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.otf) format('opentype');
}

body{
    width: 100%;
    min-height: 1000px;
    max-height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
}


/* ----------------------------------------------------------------------------------- */
main{ /* 메인 */
    width: 1280px;
    min-height: 1000px;
    max-height: 2000px;
    display: flex;
}
/*--------------------------------------------------------------------------------------*/
/* 사이드 */
.sideP{
    width: 300px;
    min-height: 1000px;
    max-height: 2000px;
    border-right: 1px solid rgb(243, 243, 243);
}

/*--------------------------------------------------------------------------------------*/
/* 사이드 위쪽 */

.side-topP{
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    
}

.side-topP>div:nth-child(1){
    width: 110px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-topP>div:nth-child(2){
    width: 190px;
    height: 150px;
    display: flex;
    align-items: center;
}

.side-topP>div:nth-child(2)>span{
    font-size: 25px;
    font-weight: bold;
    margin: 0 4px 0 4px;
}

#profile-imgP{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
/*---------------------------------------------------------------------------------------*/
/* 사이드 아래 */
.side-bottomP{
    width: 300px;
    height: 850px;
    display: flex;
}

.side-categoryP{
    width: 300px;
    height: 420px;
    margin: 30px 0 0 0;
}

.side-categoryP>div{
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: rgb(153, 153, 153);
}

.side-categoryP>div>a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(153, 153, 153);
}

.side-categoryP>div>a>span{
    display: flex;
    align-items: center;
    width: 300px;
    height: 60px;
}

.side-categoryP>div>a>span>i{
    width: 30px;
    margin: 5px 0 0 10px;
}

.side-categoryP>div:nth-of-type(3)>a>span>i{
    font-size: 18px;
}

.side-categoryP>div:nth-of-type(4)>a>span>i{
    font-size: 23px;
}

.side-categoryP>div:nth-of-type(6)>a>span>i{
    font-size: 19px;
}

.side-categoryP>div:hover{
    background-color: rgb(249, 249, 249);
}

/*---------------------------------------------------------------------------------------*/

.a-style{
    background-color: rgb(249, 249, 249);
}

.a-style>a>span{
    color: #219ebc;
}


/*---------------------------------------------------------------------------------------*/

.mainsectionsP{ /*대시보드*/
    width: 980px;
    min-height: 1000px;
    max-height: 1700px;
}

/*-------------------------------------------------------------------------------*/
/*  타이틀 / 서브 타이틀 */
.titleP{
    width: 980px;
    height: 100px;
    display: flex;
    align-items: center;
}

.titleP>span{
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 0 30px;
}

.subtitleP{
    width: 980px;
    height: 100px;
    display: flex;
    align-items: center;
}

.subtitleP>span{
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 0 30px;
}


/* 공통 끝*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* 대시보드 */

.data-areaP{
    width: 980px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.data-areaP>div{
    width: 300px;
    height: 90px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 8px 0 0 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.data-areaP>div>span:nth-child(1){
    font-size: 15px;
    color: gray;
    padding: 3px 0 0 12px;
}

.data-areaP>div>span:nth-child(2){
    width: 10px;
    font-size: 30px;
    font-weight: bold;
    padding: 0 5px 0 15px;
    color: black;
}

/*-------------------------------------------------------------------------------*/
.graph-areaP{
    width: 980px;
    height: 650px;
    display: flex;
    justify-content: center;
}

.div1{
    width: 940px;
    height: 400px;
    margin: 10px 0 0 0;
    border: 1px solid gray;
    border-radius: 10px;
}

.graph-titleP{
    width: 940px;
    height: 50px;
    display: flex;
    align-items: center;
}

.graph-titleP>span{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 15px;
}

.graph-contentP{
    width: 940px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.graphP{
    width: 900px;
    height: 330px;
    border: 1px dashed gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------------------------------------------------------------------- */
