@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}


* {
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    /* color: #272727; */
}


/* main */

main {
    min-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 500px;

}

#main-header {
    margin-top: 40px;
    height: 80px;
    width: 1250px;
    display: flex;
    align-items: center;
    margin-bottom: -40px;
}

.headerbtn {
    width: 130px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #ffb703;
    color: white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.btn1{
    margin-left: 20px;
}

.btn2{
    margin-left: 40px;
}

.btn3{
    margin-left: 480px;
}

.searchBox{
    width: 300px;
    height: 60px;
    margin-left: 30px;
    border-radius: 15px;
    border: 1px solid #ffb703;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.searchBox input{
    width: 70%;
    height: 100%;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 20px;
}

.searchBox input:hover{
    outline: none;
}

.searchBox button{
    flex: 1;
    width: 30%;
    height: 100%;
    border: none;
    background-color: #ffb703;
    border-radius: 15px;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    font-size:24px;
}

#main-box {
    height: 900px;
    width: 1280px;
    margin-top: 60px;
    margin-bottom: 35px;
    border: 1px solid #ffb703;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.01);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 800px;
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titlebox{
    width: 1100px;
    height: 65px;
    position: relative;
    margin-bottom: 30px;
}
.title{
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -1px;
    margin-left: 25px;
    max-width: 200px;
}

.updateBtn{
    width: 130px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #ffb703;
    color: white;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 50px;


    /* position: absolute;
    top:10px;
    left:500px; */
}

.lecturer{
    font-size: 18px;
    color:#737373;
    letter-spacing: -1px;
    position: absolute;
    right:90px;
    bottom: 0px;
}
.name{
    font-size: 18px;
    color:#737373;
    letter-spacing: -1px;
    position: absolute;
    right:30px;
    bottom: 0px;
}


.classimgcontainer{
    width: 700px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #737373; 
    border-radius: 15px;
} 

.classimg{
    max-width: 1000px;
    max-height: 300px;
    display: block;
    border-radius: 20px;
}

.recommend-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    right:100px;
    bottom:-270px;
    border-radius: 100%;
    border: none;
    background-color: #ffb703;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.declaration-btn{
    position: absolute;
    width: 40px;
    height: 40px;
    right:40px;
    bottom:-270px;
    border-radius: 100%;
    border: none;
    background-color: #ffb703;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewcontentbox{
    width: 1050px;
    height: 450px;
    margin-top: 20px;
}

.reviewtitle{
    width: 1050px;
    height: 170px;
    display: flex;
    align-items: center;
}

.profileimg{
    width: 160px;
    height: 130px;
    border-radius: 100%;
    margin-left: 20px;
}

.name1{
    width: 250px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.color626262{
    color:#626262;
}

.color595959{
    color:#595959;
}

.reviewer{
    font-size: 26px;
    font-weight: 900;
    margin-top: 20px;
}

.reviewScore{
    margin-top: 30px;
    display: flex;
    font-size: 20px;
}



.title1{
    height: 160px;
    width: 650px;
    border-top: 2px solid #CECECE;
    border-bottom: 2px solid #CECECE;
    display: flex;
    flex-direction: column;
}

.title1-reviewtitle{
    font-size: 33px;
    font-weight: 900;
    margin-top: 25px;
    margin-left: 15px;
}

.title1-reviewsubtitle{
    display: flex;
    margin-top: 50px;
}

.title1-reviewsubtitle-date{
    margin-left: 10px;
}

.title1-reviewsubtitle-recommend{
    margin-left: 330px;
}

.title1-reviewsubtitle-report{
    margin-left: 20px;
}

.contentbox{
    width: 1050px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position: relative;
}
.reviewcontext{
    width: 1000px;
    height: 150px;
}

.reviewtag {
    margin-top: 10px;
    font-size: 24px;
}


/* modal 관련 태그 */

#background-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#write-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 900px;
    height: 900px;
    border: 2px solid #ffb703;
    background-color: rgb(243,243,243);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.write-wrapper{
    width: 900px;
    height: 850px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.write-lecture{
    width: 700px;
    height: 100px;
    margin-bottom: 15px;
    margin-top: -50px;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.01);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectBox{
    width: 250px;
    height: 30px;
    font-size: 16px;
    margin-left: 20px;
}

.write-tag{
    width: 700px;
    height: 250px;
}

.write-content{
    width: 700px;
    height: 340px;
    position: relative;
}

.write-tag{
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.01);
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.write-content{
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.01);
    border-radius: 20px;
    margin-top: 20px;
}

.write-tag-question{
    padding-top :20px;
    padding-left: 60px;
    font-size: 24px;
}

.write-tag-select{
    width: 700px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    
}

.radio-button{
    margin-left: 60px;
    margin-top: 10px;
    width: 160px;
    height: 40px;
    border: 1px solid rgb(190,190,190);
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.01);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;

}


.radio-button.selected {
    background-color: #ffb703;
    color: #fff;
    border-color: #ffb703;
    
}

#write-btn1{
    position: absolute;
    width: 100px;
    height: 40px;
    left:250px;
    bottom:25px;
    border-radius: 5px;
    border: none;
    background-color: #ffb703;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#write-btn2{
    position: absolute;
    left:400px;
    bottom:25px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #ffb703;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.writestarbox{
    position: relative;

}

.starsel{
    direction: rtl;
    position: absolute;
    left: 10px;
    top: 10px;
    margin-left: 55px;

}

.starsel label{
    font-size: 12px;
    color: rgb(190,190,190);

}

.starsel label:hover{
    color: #ffb703;
}

.starsel label:hover ~ label{
    color: #ffb703;
}

.starsel input[type=radio]:checked ~ label{
    color: #ffb703;
}

.starseltext{
    margin-left: 50px;
}

#writeTitle{
    margin-left: 65px;
    margin-top: 45px;
    width: 300px;
    height: 30px;
}

#writecontext{
    margin-top: 20px;
    margin-left: 65px;
    resize: none;
    font-size: 18px;
}

#writecontext:focus {
    outline: none; 
}

/* footer */

.footer {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 30px;

}