@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.otf) format('opentype');
}

div {
  border: 1px solid black;
}

*{box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 0.5px;
  color: rgb(26, 26, 26);
}


/* 헤더 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    height: 120px;
    min-width: 1280px;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
  }
  
  header > div {
    margin: auto;
  }
  
  .width-1280px {
    width: 1280px;
  }
  
/* 로고 */
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img {
  width: 50px;
}

  /* 헤더 위쪽 */
  .topHeader {
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #023047;
    padding: 15px 0;
  }
  
  .topHeader > div {
    display: flex;
    align-items: center;
  }
  
  #searchBar {
    height: 100%;
    width: 300px;
  }
  
  /* categoryBar */
  #categoryBar li {
    list-style: none;
    display: flex;
    align-items: center;
  }

  #categoryBar ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #categoryBar ul > li > a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    transition-duration: 0.2s;
  }

  #categoryBar ul > li > a:hover {
    background-color: #219EBC;
  }


  /* 헤더 아래 */
  /* .bottomHeader {
    height: 50px;
    display: flex;
    font-size: 24px;
    font-weight: bold;
  }
  
  .bottomHeader > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
  
  .fa-bars {
    font-size: 42px;
    margin-right: 20px;
  }
  
  #showCategoryBar {
    cursor: pointer;
  } */
  
  /* 헤더 카테고리 바 */
  /* .categoryBar {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    box-shadow: 0px 5px 5px gray;
  }
  
  .categoryBarDetail {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  .margin-auto {
    margin: auto;
  }
  
  .categoryDetail {
    display: flex;
    margin: 0 10px;
    flex-direction: column;
  }
  
  .categoryDetail > * {
    font-size: 20px;
    margin: 5px 0px;
    text-decoration: none;
    color: black;
  }
  
  .categoryDetail span {
    font-weight: bold;
    color: gray;
  } */
  

  /* footer{
    font-size:12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#afafaf;
    text-align: center;
    } */