@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

* {
  font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  list-style: none;
}


/* 헤더 */
header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 3;
    background-color: #023047;
    font-weight: bold;
  }
  
  header > div {
    margin: auto;
  }
  
  .width-1280px {
    width: 1280px;
    position: relative;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .margin-auto {
    margin: 0 auto;
  }
  
/* 로고 */
#logo img {
  height: 70px;
}

  /* 헤더 위쪽 */
  .topHeader {
    height: 80px;
    display: flex;
    background-color: #023047;
    padding: 5px 0;
    align-items: center;
  }
  
  .topHeader > div {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
  
  #searchBar {
    height: 50px;
    width: 300px;
  }
  
  .width-1280px > ul {
    display: inline-block;
  }

  /* categoryBar */
  #categoryBar {
    margin-left: 30px;
  }

  #categoryBar > ul {
    display: flex;
  }

.topHeader ul > li > * {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    color: white;
    transition-duration: 0.2s;
  }

  .topHeader ul > li > a:hover {
    background-color: #219EBC;
  }

/* 입력바 */
#searchBar {
  padding-left: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 0;
  outline: 0;
}

  /* 로그인/회원가입 */
#loginBox > a {
  display: inline-block;
}

#loginBox > li:hover {
  background-color: #219EBC;
}

#loginBox {
  display: flex;
  align-items: center;
  justify-content: end;
}

#loginBox > li {
  display: block;
  border-radius: 5px;
  transition-duration: 0.2s;
}



#loginBox > li > * {
  display: block;
  text-decoration: none;
  width: 100%;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  transition-duration: 0.2s;

}

#headerBoxBtn {
  color: white;
  width: 110px;
  padding: 19px 0px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

/* 로그인시, 드롭박스 */
#headerBox {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 75px;
  right: 0;
  width: 110px;
  background-color: #219EBC;
  border-radius: 5px;
}

#headerBox li {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
}

#headerBox li a {
  text-decoration: none;
  color: white;
}

#headerBox li a:hover {
  color: black;
}

/* footer */
.footer{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color :white;
    background-color: #023047 ;
    text-align: center;
    padding: 30px 0;
}

/* 고객센터 */
.callServiceCenter {
  position: fixed;
  font-size: 32px;
  width: 50px;
  height: 50px;
  top: 90%;
  right: 5%;
  background-color: #b7def0;
  border-radius: 50%;
  border: none;
}


/* 채팅 modal */

#chat-box{
  width: 400px;
  height: 700px;
  position: absolute;
  right: 200px;
  bottom: 40px;
  border-radius: 15px;
  overflow: hidden;
}

#chat-id{
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #219EBC;
}

#chat-close{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

#chatTo{
  height: 40px;
  width: 200px;
  position: absolute;
  left: 50px;
  top:30px;
  border-radius: 5px;
}

#chatToBtn{
  height: 40px;
  width: 80px;
  position: absolute;
  left:260px;
  top:30px;
  border-radius: 5px;
  background-color: #023047;
  color: white;
  cursor: pointer;
}

#myPartner{
  position: absolute;
  bottom: 5px;
  right: 120px;
  color: white;
}

#chat-message{
  width: 400px;
  height: 450px;
  background-color: #219EBC;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}


#chat-tobox{
  width: 400px;
  min-height: 20px;
  margin-bottom: 6px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

#chat-frombox{
  width: 400px;
  min-height: 20px;
  margin-bottom: 6px;
  position: relative;
  display: flex;
}

#chat-to{
  background-color: yellow;
  color: black;
  border-radius: 5px;
  max-width: 180px;
  margin-right: 30px;
  padding: 5px;
}

#chat-from{
  background-color: white;
  color: black;
  border-radius: 5px;
  max-width: 180px;
  margin-left: 10px;
  padding: 5px;
}

#chat-input{
  width: 100%;
  height: 150px;
  border-radius: 15px;
  background-color: white;
  display: flex;
}

#chatContent{
  flex-basis: 70%;
}

#sendChat{
  flex-basis: 30%;
  background-color: #219EBC;
  border: none;
  font-size: 24px;
  color: white;
  letter-spacing: 1px;
  resize: none;
  cursor: pointer;
  border-top: 1px solid black;
}