@font-face {
  font-family:'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.otf) format('opentype');
}

* {
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;
	font-weight: bold;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 헤더 */

header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: #023047;
  }
  
  header > div {
    margin: auto;
  }
  
  .width-1280px {
    width: 1280px;
  }

  .margin-auto {
    margin: 0 auto;
  }
  
/* 로고 */
#logo img {
  height: 70px;
}

  /* 헤더 위쪽 */
  .topHeader {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #023047;
    padding: 5px 0;
    align-items: center;
  }
  
  .topHeader > div {
    display: flex;
    align-items: center;
  }
  
  #searchBar {
    height: 50px;
    width: 300px;
  }
  
  /* categoryBar */
  .topHeader li {
    list-style: none;
    display: flex;
    align-items: center;
  }

.topHeader ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.topHeader ul > li > * {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    color: white;
    transition-duration: 0.2s;
  }

  .topHeader ul > li > a:hover {
    background-color: #219EBC;
  }

/* 입력바 */
#searchBar {
  padding-left: 10px;
  font-size: 16px;
  border-radius: 20px;
  border: 0;
  outline: 0;
}

  /* 로그인/회원가입 */
#loginBox > a {
  display: inline-block;
}

/* 로그인시, 드롭박스 */
#headerBox {
	
}

/* footer */
.footer{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color :white;
    background-color: #023047;
    text-align: center;
    padding: 30px 0;
}

/* 고객센터 */
.callServiceCenter {
  position: fixed;
  font-size: 32px;
  width: 50px;
  height: 50px;
  top: 90%;
  right: 5%;
  background-color: #b7def0;
  border-radius: 50%;
}
