/* 헤더 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    height: 120px;
    min-width: 1280px;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
  }
  
  header > div {
    margin: auto;
  }
  
  .width-1280px {
    width: 1280px;
  }
  
  /* 헤더 위쪽 */
  .topHeader {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .topHeader > div {
    display: flex;
    align-items: center;
  }
  
  .topHeader > div > * {
    margin: auto 10px;
    padding: 10px;
    height: 100%;
  }
  
  #searchBar {
    height: 100%;
    width: 300px;
  }
  
  /* 헤더 아래 */
  .bottomHeader {
    height: 50px;
    display: flex;
    font-size: 24px;
    font-weight: bold;
  }
  
  .bottomHeader > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
  }
  
  .fa-bars {
    font-size: 42px;
    margin-right: 20px;
  }
  
  #showCategoryBar {
    cursor: pointer;
  }
  
  /* 헤더 카테고리 바 */
  .categoryBar {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
    display: none;
    box-shadow: 0px 5px 5px gray;
  }
  
  .categoryBarDetail {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  .margin-auto {
    margin: auto;
  }
  
  .categoryDetail {
    display: flex;
    margin: 0 10px;
    flex-direction: column;
  }
  
  .categoryDetail > * {
    font-size: 20px;
    margin: 5px 0px;
    text-decoration: none;
    color: black;
  }
  
  .categoryDetail span {
    font-weight: bold;
    color: gray;
  }
  

  footer{
    font-size:12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#afafaf;
    text-align: center;
    }