@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

* {
    
    box-sizing: border-box;
}

body{
    background: #222D32;
}

#tlogin{
    margin:20px;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    height:800px;

}

#tlogin>fieldset{
    border:0;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:500px;
    height:500px;
   
}



#tlogin>fieldset p:nth-of-type(1){
    text-align: center;
    font-size: 20px;

}





#tlogin>fieldset input{
    border: 0;
    outline: none;
    padding: 10px;
    width:420px;

}

#tlogin>fieldset> div{
    margin:20px;
    border: 1px solid #6d6d6d;
    
}

i{
    padding-left:10px;
}


.tlogin-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.tlogin-space>span:nth-child(2)>a{
    font-size:10px;
    color:#6d6d6d;
    text-decoration: 0;
}

#tloginBtn{
    margin-top:30px;
    cursor: pointer;
    width: 450px;
    background: rgb(255 0 69);
    border: 0;
    padding:15px;
    font-weight: bold;
    margin-bottom: 20px;
    color:white;


}

.tlogin-space{
    display: flex;
    
}

.tlogin-border{
    background-color: white;
    margin-bottom:10px;
    border : 1px solid #ddd;
}

#tlogin h3{
    margin:0;
}

#tlogin h3>a{
    color:#222D32;
    text-decoration: 0;
}

.tlogin-join a{
    color:#ff1058;
    text-decoration: 0;
    font-weight: bold;
}