@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}



div {
    box-sizing: border-box;
    border: none;
}

.formRow {
    margin: 10px 100px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.noBottomLine {
    border-bottom: none;
}

.formCol {
    display: flex;
    justify-content: space-between;
}

.formCol > *:first-child {
    width: 240px;
    border: 1px solid #ddd;
}

.formCol .col1 {
    width: 100%;
}

.Confirmbtn {
    width: 150px;
    border: 0;
    background: #219EBC;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

body {
    background: #023047;
}

form {
    margin: auto;
    padding: 20px 0;
    border:0;
    border-radius: 20px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width:550px;
}

form > div {
    width: 430px;
}

form p:nth-of-type(1){
    text-align: center;
    font-size: 20px;

}

form input{
    outline: none;
    padding: 10px;
}

form > div{
    margin:20px;
}

#pw2CkText, #result {
    height: 5px;
}

.signUp-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.signUp-space>span:nth-child(2)>a{
    font-size:10px;
    color:#6d6d6d;
    text-decoration: 0;
}

#signUpBtn{
    margin-top:30px;
    cursor: pointer;
    width: 420px;
    border: 0;
    padding:15px;
    font-weight: bold;
    margin-bottom: 20px;
    color:white;
}

.signUp-space{
    display: flex;
}

/* 캡차 */
#captchaCanvas{
    display: inline-block;
    border:1px solid #ddd;
    height: 35px;
}

#checkCaptcha{
    width: 150px;
    margin-left:10px;
    height:35px;
    padding:9.2px;
    border:0;
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

#sinupBtn{
    width: 430px;
    height:35px;
    border:0;
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

.sign-green{
    color:green;
}

.sign-red{
    color:red;
}

.sign-font{
    font-size:10px;
}

/* 동의합니다 부분 */
.agreeCk{
    border:1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    list-style: none;
    margin: 0;
}

.agreeCk li {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.agreeCk input[type="checkbox"]{
    width: 10px;
}
