@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 200;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}


*{  font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.worder-main{
    margin:0 auto;
    width:1280px;
}

.worder-main h1{
    margin:30px;
    text-align: center;
    font-size: 60px;

}

#wonder-top{

    display: grid;
    grid-template-columns: 50% 50%;
   
}

.bestQ{
    margin:0 auto;
    text-align: center;
    width:70%;
    max-height:450px;
    grid-row: 1/span 2;
    border: 1px solid #023047;
    padding:20px;
    border-radius: 10px;
}

.bestQ>h2{
    margin-bottom: 30px;
}

.bestQ>ul:nth-of-type(1) a{  
    text-align: left;
    font-size: 18px;
    color: #023047;
    padding-top:50px;
    padding:20px;
    display: block;
    text-decoration: 0;
}

.bestQ ul{
    list-style: none;
}

.more{
    display: flex;
    justify-content: right;
   
}

 

.more a{
    color:#023047;
    text-decoration: 0;
    margin: 10;
    padding:0;
   
}

.more a:hover{
    color:#FB8500;
 
   
}

.worder-btn>button{
    width: 80%;
    height: 100px;
    margin:0;
    padding:0;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #219EBC;
    font-size: 20px;
    font-weight: bold;
    color:white;
    border:0;
}

.worder-bestTag{
    border: 1px solid #023047;
    width: 80%;
    height:100px;

}