@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}


*{  
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.wonder-main{
    margin:0 auto;
    width:1280px;
}

.wonder-main h1{
    margin:30px;
    text-align: center;
    font-size: 60px;

}

#wonder-top{

    display: grid;
    grid-template-columns: 50% 50%;
   
}

.bestQ{
    margin:0 auto;
    text-align: center;
    width:70%;
    max-height:450px;
    grid-row: 1/span 2;
    border: 1px solid #023047;
    padding:20px;
    border-radius: 10px;
}

.bestQ>h2{
    margin-bottom: 30px;
}


.bestQ>ul:nth-of-type(1) a{  
    text-align: left;
    font-size: 18px;
    color: #023047;
    padding-top:50px;
    padding:20px;
    display: block;
    text-decoration: 0;
}

.bestQ>ul:nth-of-type(1) a:hover{
   color:#FB8500;
}

.bestQ ul{
    list-style: none;
}

.more{
    display: flex;
    justify-content: right;
   
}

 

.more a{
    color:#023047;
    text-decoration: 0;
    margin: 10;
    padding:0;
   
}

.more a:hover{
    color:#FB8500;
 
   
}

.wonder-btn>button{
    width: 80%;
    height: 100px;
    margin:0;
    padding:0;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #219EBC;
    font-size: 20px;
    font-weight: bold;
    color:white;
    border:0;
}

.wonder-bestTag{
    border: 1px solid #023047;
    width: 80%;
    height:100px;

}

/* 인기태그 */
.wonder-bestTag{
    border: 1px solid #023047;
    height:200px;
    padding-left:20px;
}

.wonder-bestTag>h3{
    font-weight: bold;
    margin: 30px 10px;
}

.wonder-bestTag>div>a{
    background-color: #B7DEF0;
    padding:10px 20px;
    margin:30px 10px;
    border-radius: 15px;
    cursor: pointer;
}

.wonder-bestTag>div>a:hover{
    background-color: #219EBC;

}

.wonder-bestTag>div{
    margin-bottom: 30px;
}

/* 검색 */

.wonder-section{
    display: flex;
    justify-content: center;
    width:1280px;

}

.wonder-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#wonder-search {
    width: 800px;
    background-color: white;
    border: 0;
    outline: 0;
    font-size: 18px;
    padding: 10px;
    margin-left: 10px;
}





.wonder-search-item{
    display: flex;

}

.wonder-search-item>fieldset:nth-of-type(1){
    margin-top:30px;
    border:1px solid #ddd;
    background-color: white;
    height: 60px;
    margin-left: -30px;

}

.wonder-icon{
    height: 20px;
    width:20px;
    padding:20px;
    font-size: 18px;
    margin-right:5px;
}


#woder-serachBtn{
    padding:15px;
    width:180px;
    height: 60px;
    margin-top: 30px;
    margin-left:10px;
    background-color:#219EBC;
    font-size: 18px;
    color:white;
    border: 0;
    cursor: pointer;
   
}
.wonder-restBtn{
    font-size: 20px;
    width:180px;
    height: 60px;
    background-color: white;
    border:0;
    cursor: pointer;
    margin-top:30px;
    text-align: center;
}

.wonder-section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:100px;
}


.wonder-top{
    padding-top:30px;
    font-size:30px;
    margin-bottom: 20px;
    
}

.wonder-notice{
    border-top:1px solid #ddd;
    width:1050px;
    height:230px;
    padding-top:30px;
    
}

.noice-st{
    background-color: #B7F0D5;
    padding:5PX 20px;
    font-size: 16px;
    
}

.noice-st2{
    background-color: #F0B7B7;
    padding:5PX 20px;
    font-size: 16px;
    
}
.wonder-notice > p{
    margin-top: 10px;
    color: #9D9D9D;
    font-size: 18px;
    margin-bottom: 20px;
}

.wonder-Tag{
    margin-bottom: 20px;
}

.wonder-Tag>span{
    background-color: #B7DEF0;
    border-radius: 15px;
    padding:5px 20px;
    margin-bottom: 20px;
}



.wonder-count {
    font-size: 18px;
    color: #9D9D9D;
 
    display: flex;
  
}

.wonder-count>span{
    padding-right:20px;
}

.wonder-count>ul{
    display: flex;
    justify-content: right;
    width:900px;
}

.wonder-count>ul>li{
    list-style: none;
    padding-left:20px;
    
}

.addmore{
    border-top:1px solid #ddd;
    width:1050px;
    display: flex;
    justify-content: right;
    color:#9D9D9D;
    font-size: 18px;
    padding:20px;
    text-decoration: 0;
}

.wonderTopBtn{
    background-color: #B7DEF0;
    width:200px;
    padding:20px;
    color:white;
    text-decoration: 0;
    position: fixed; 
    bottom: 80px;
    right:20px;
    text-align: center;
    font-size: 20px;

    
}

/* 페이지네이션 */

.wonder-page-area{
    border-top:1px solid #ddd;
    width:1050px;
}

.wonder-pagination{
    padding:0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.wonder-pagination > li{
    width:20px;
    margin: 20px 10px;
    text-align: center;
    
}

.wonder-pagination a{
    background-color: white;
    border:1px solid #9D9D9D;
    width:30px;
    height: 100%;
    display: block;
    text-decoration: none;
    color:#023047;
    

   
}

/* 현재 페이지 번호 */
.wonder-pagination .current{
    border:1px solid #9D9D9D;
    background-color: #FFB703;
    color: white;
    font-weight: bold;
 
}

/* wonderheader */
.wonder-header>ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.wonder-header>ul>li>a{
    text-decoration: none;
    color:#023047;
    font-size: 40px;
}

.wonder-header .wonderCurrent{
  color: #FB8500;
}

.wonder-header>ul>li{
    margin:0 20px;

}

