@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}


.wonder-main{
    width:1280px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.wonder-main>section{
    width:900px;
    height: 100px;
}

.asideContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    

}

.wonder-main>aside>section{
   position: sticky;
   top: 30;
}




#myWonder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:1px solid #ddd;
    width:250px;
    justify-items: center;
    padding:10px;
    border-radius: 10px;
    height:105px;
    margin:30px;
    align-content: center;
}

#myWonder>div>span:nth-child(1){
    font-size: 20px;
    display: block;
    margin-top:15px;
   
}


#myWonder>div>span:nth-child(2)>a{
    display: block;
    color:#9D9D9D;
    text-decoration: 0;
   
}

#myWonder>span:nth-child(1){
    width:100px;
}
    


#myWonder img{
    width:80px;
    border-radius: 50px;
  
    
}

/* 해결상태 */
.solve{
    display: flex;
    justify-content: center;
    align-items: center;
    width:250px;
    height:60px;
    border:1px solid #ddd;
    border-radius: 10px;
}

#solve{
   border:0;
   width:100px;
   padding:4px;
   font-size: 15px;
   margin-left:10px;
   cursor: pointer;
}

.solveYes{
    background-color:#B7F0D5;
}

.solveNo{
    background-color:#F0B7B7;
}

.solve>span{
    
    font-size: 20px;
   
}

/* 질문버튼 */

.wonderBtn>button{

    background-color: #219EBC;
    border:0;
    width:250px;
    height:50px;
    font-size: 18px;
    padding:10px;
    color:white;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

.wonderBtn{
    width:250px;
    margin: 10px;
}

/* 인기태그 */
.wonder-bestTag{
    border: 1px solid #ddd;
    max-height:500px;
    width:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;

    
}

.wonder-bestTag>h3{
    font-weight: bold;
    margin: 10px 10px;
}

.wonder-bestTag>div>a{

    background-color: #B7DEF0;
    padding:10px 20px;
    border-radius: 15px;
    cursor: pointer;
    margin:5px;
    
}

.wonder-bestTag>div>a:hover{
    background-color: #219EBC;

}

.wonder-bestTag>div{
    width:250px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
   
}


/* section영역 */

.wonderSection>h1{ 
    display: flex;
    justify-content: center;
    margin: 50px auto;
    font-size: 80px;
   
}

.wonderSection>h2>span{
    font-size:70px;
    color: #FB8500;
    margin-right:30px;
}

.wonderSection>h2{
    font-size:50px;
    font-weight: 500;
}