*{box-sizing: border-box;
    /* border: 1px solid black;     */
    font-family: 'Noto Sans KR', sans-serif;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.5px;

}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}

html{border: none;}


body{
    width: 100%;
    height: 1800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

header{
    width: 1280px;
    height: 120px;
}


footer{
    width: 1280px;
    font-size:12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#afafaf;
    text-align: center;

  
}

/* body, header, footer */
/*------------------------------------------------------------------------------*/
/* main */

main{
    width: 1280px;
    min-height: 1500px;
    max-height: 3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main>section:nth-child(1){
    width: 1180px;
    height: 80px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
    justify-content: space-between;
}

main>section:nth-child(1) a{
    border: none;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

/* ---------------------------------------------------------------------------- */


.text-container{
    width: 1000px;
    min-height: 1420px;
    max-height: 2920px;
}

.text-container>article:nth-child(1){
    height: 40px;
    font-size: 28px;
}


/* 개설자 프로필, 이름, 일자 */
.text-container>article:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.text-container>article:nth-child(2)>div:nth-child(1){
    display: flex;
    align-items: center;
}

.text-container>article:nth-child(2)>div:nth-child(1)>*{
    margin: 0 5px 0 5px;
}   

#study-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* 정보 영역  */

.study-info{
    width: 1000px;
    height: 270px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 20px;
}

.study-info i{
    width: 20px;
    font-size: 18px;
    margin: 0 10px 0 0;
}

.study-info>div:nth-child(2)>ul>li:nth-child(3)>i{
    font-size: 20px;
}

.study-info>div:nth-child(1){
    height: 70px;
    padding: 0 0 0 20px;
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
    align-items: center;
    font-size: 28px;
}

#left-people{
    color: #219ebc;
    font-weight: bold;
    margin: 0 5px 0 10px;
}

.study-info>div:nth-child(2){
    font-size: 18px;
}


.study-info>div:nth-child(2)>ul{
    padding-left: 10px;
}

.study-info>div:nth-child(2)>ul>li{
    list-style: none;
    padding-left: 10px;
}

.study-info>div:nth-child(2)>ul>li:nth-child(5){
    display: flex;
    height: 26px;
}


.study-info>div:nth-child(2)>ul>li:nth-child(5)>i{
    text-align: center;
    margin-top: 7px;
}

.study-info>div:nth-child(2)>ul>li>div>img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 7px;
}

.study-info>div:nth-child(2)>ul>li>a{
    font-size: 16px;
    color: #219ebc;
}
/*1100 남음*/

.pre-area{
    min-height: 500px;
    max-height: 2000px;
    overflow: auto;
}

.pre-area>pre{
    margin: 0;
    padding: 20px 0 10px 0;
}


.tag-area{
    height: 50px;
    display: flex;
    align-items: center;
}

.tag-area>div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    margin: 0 10px 0 10px;
    border: 2px solid #219ebc;
    border-radius: 20px;
}

.tag-area>div>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


/*  지도  */

.map-area{
    height: 540px;
}

.map-area>div:nth-child(1){
    height: 40px;
}

.map-area>div:nth-child(1)>i{
    margin: 0 10px 0 0;
}

.map-area>div:nth-child(2){
    height: 400px;
    background-color: #afafaf;
}

.map-area>div:nth-child(3){
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-area>div:nth-child(3)>span{
    margin: 3px 0 3px 20px;
}