*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.woff) format('woff'),
         url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Normal.otf) format('opentype');
}

body{
    width: 100%;
    min-height: 1000px;
    max-height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
}

/* body, header, footer */
/*------------------------------------------------------------------------------*/
/* main */

main{
    width: 1280px;
    min-height: 900px;
    max-height: 1700px;
}
/* 타이틀 영역 */
main>section:nth-child(1){
    width: 1280px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 타이틀 */
main>section:nth-child(1)>span{
    font-size: 60px;
    font-weight: bold;
}

/* 타입 선택 영역 */
.choice-type-area{
    width: 1280px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choice-type-area a{
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.choice-type{
    display: inline-block;
    width: 100px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 0 20px;
    padding-top: 10px;
    border-bottom: 2px solid rgb(220, 220, 220);
    color: rgb(220, 220, 220);
}

.choiced{
    color: rgb(26, 26, 26);
    border-bottom: 2px solid #219ebc;
}

/* 모집하기 버튼 */
.choice-type-area>a{
    width: 140px;
    height: 40px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: #219ebc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 20px;
}

/* 언어/ 지역/ 방식 / 검색창 영역 */

main>section:nth-child(3){
    width: 1280px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 지역 / 언어 / 방식 영역 */
main>section:nth-child(3)>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 100px;
    margin-left: 20px;
}

/* 지역 / 언어 / 방식 각 영역  */
main>section:nth-child(3)>div>div{
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 20px;
}   

main>section:nth-child(3)>div>div>span{
    font-size: 20px;
    font-weight: bold;
}

main>section:nth-child(3)>div>div>span>i{
    margin-left: 20px;
    color: rgb(180, 180, 180);
}

/* 숨겨진 영역 */
#hidden-area{
    position: relative;
    width: 200px;
}

/* 지역 선택 영역 */
#hidden-location-area{
    position: absolute;
    width: 370px;
    height: 150px;
    top: 80px;
    right: 360px;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
    border-radius: 10px;
    display: none;
    z-index: 3;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#hidden-location-area>ul{
    display: flex;
    flex-wrap: wrap;
}
/* 각 지역li */
.locationDiv{
    width: 80px;
    height: 40px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    margin: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.locationDiv>input{
    display: none;
}

.locationDiv.selected {border: 2px solid #219ebc;}
.stuckDiv.selected {border: 2px solid #219ebc;}
.typeDiv.selected {border: 2px solid #219ebc;}

/* 지역 검색 버튼 */
#search-location{
    width: 150px;
    height: 30px;
    margin: 5px 0 0 200px;
    background-color: #219ebc;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
/* --------------------------------------------------------------------- */
/* 언어 선택 영역 */
#hidden-stack-area{
    position: absolute;
    width: 650px;
    height: 200px;
    top: 80px;
    right: -100px;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
    border-radius: 10px;
    display: none;
    z-index: 3;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

#hidden-stack-area>ul{
    display: flex;
    flex-wrap: wrap;
}

/* 각 언어li */
.stuckDiv{
    height: 40px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    margin: 5px 5px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
}

#hidden-stack-area>div{
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#hidden-stack-area>div>span{
    margin-left: 10px;
    font-weight: bold;
}
.stuckDiv>img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.stuckDiv>input{display: none;}

/* 언어 검색 버튼 */
#search-stack{
    width: 150px;
    height: 30px;
    background-color: #219ebc;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 20px;
}

/* ----------------------------------------------------------------------------------------------------- */
/* 모집 형식 선택 영역 */
#hidden-type-area{
    border: 1px solid black;
    position: absolute;
    width: 150px;
    height: 135px;
    top: 80px;
    left: -180px;
    border: 1px solid rgb(220, 220, 220);
    background-color: white;
    border-radius: 10px;
    display: none;
    z-index: 3;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

/* 각 언어li */
.typeDiv{
    height: 40px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    margin: 5px 5px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.typeDiv>input{display: none;}

/* 방식 검색 버튼 */
#search-type{
    width: 80px;
    height: 30px;
    background-color: #219ebc;
    margin: 5px 0 0 60px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------------- */
/* 검색창 */
fieldset{
    width: 500px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 20px;
    margin-right: 20px;
    padding: 5px;
}

fieldset>input{
    width: 400px;
    height: 100%;
    font-size: 22px;
    border: none;
    outline: none;
}

fieldset>i{
    font-size: 20px;
    margin-top: 7px;
    margin-left: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* 각 게시글 */

.content-area{
    width: 1280px;
    min-height: 400px;
    max-height: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.content-area>a{
    text-decoration: none;
    margin: 20px 0;
}
/* 각 게시판 */
.each-board{
    width: 300px;
    height: 340px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 30px;
    color: rgb(26, 26, 26);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.each-board:hover{
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.each-board>div:nth-child(1){
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
/* 모집중 / 모집완료 */
.group-type{
    width: 80px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 15px;
    font-weight: bold;
}

.finished{
    border: 1px solid rgb(220, 220, 220);
    color: rgb(26, 26, 26);
    background-color: white;
}

.ing{
    border: none;
    background-color: #219ebc;
    color: white;
}

/* 모집 지역 */
.group-locate{
    width: 120px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;
    font-weight: bold;
}

/* 모임 날자, 시간 */
.group-date{
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 14px;
    color: gray
}

.group-date>i{
    margin-right: 3px;
    margin-left: 20px;
    color: rgb(26, 26, 26);
}

/* 모집 게시글 내용 영역 */
.group-title{
    height: 100px;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

/* 모집 게시글 내용 */
.group-content{
    font-size: 16px;
    font-weight: bold;
    text-overflow: ellipsis; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 표시할 줄 수 */
    height: 3em; /* 두 줄의 높이로 설정 (한 줄의 높이를 1.5em으로 가정) */
    line-height: 1.5em; /* 줄 높이 */
}

/* 언어 태그 영역 */
.tag-area{
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 20px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.tags{
    margin: 0 4px 0 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* 기타 정보 영역(이름, 인원, 조회수) */
.etc-info{
    height: 70px;
    display: flex;
}

.nick-num-area{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nick-num-area>span{
    margin-left: 20px;
}

/* 조회수 */
.view-area{
    display: flex;
    align-items: end;
    margin-bottom: 10px;
    margin-left: 20px;
}

.view-area>i{
    margin-right: 10px;
}



/* ----------------------------------------------------------------------------------------------------------------------------- */
/* pagination */

.pagination{
    width: 1280px;
    height: 100px;
}