div {
  border: 1px solid black;
}

header {
  position: relative !important;
}

/* 카테고리 바 */
.categorBar {
  margin: 0;
  background-color: bisque;
  position: sticky;
  top: 0px;
  z-index: 2;
}

/* 카테고리 바 위쪽 */
.categorBarUpper {
  height: 80px;
}

/* 카테고리 바 아래쪽 */
.categorBarlower {
  height: 50px;
}


