/* div {
  border: 1px solid black;
} */

* {
  text-decoration: none;
  color: black;
}

header {
  position: relative !important;
}

/* 카테고리 바 */
nav {
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 0px 3px gray;
}

/* 카테고리 바 위쪽 */
.categorBarUpper {
  height: 50px;
}

.categorBarUpper > ul {
  display: flex;
}

.categorBarUpper > ul > li {
  list-style: none;

  width: 200px;
  height: 50px;
  border: 1px solid black;
}

.categorBarUpper > ul > li > a {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* 카테고리 바 아래쪽 */
.categorBarlower {
  height: 50px;
}

.categorBarlower > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categorBarlower > ul > li {
  list-style: none;
}


.categorBarlower > ul > li > a {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;

  margin: 8px 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

