@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
}

/* 메인 페이지 */
#detailed {
  width: 1280px;
  margin: 0 auto;
  grid-template-columns: 70% 30%;
}

/* 위쪽 부분 */
.classInfo {
  height: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.classInfo > div:first-child {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.classInfo > div {
  width: 100%;
  padding: 10px 10px;
}

/* classInfo 서식 */
.classCategory {
  font-size: 14px;
  width: 250px;
}

.classCategory > select {
  width: 130px;
}

.classTitle > input {
  font-size: 40px;
  font-weight: bold;
  border-bottom: 3px solid #ddd;
}

.classTitle > input:focus-within {
  border-bottom-color: #ffb703;
}

.classEvaluation {
  font-size: 16px;
}

.star {
  color: #ffb703;
}

.upperWrapper {
  position: relative;
  width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upperWrapper img {
  width: 800px;
  height: 500px;
}

/* 상단바 아래 부분 */
.lower {
  display: flex;
}

.introduceBox {
  width: 850px;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.detailedNav {
  margin: 10px 0;
  border-bottom: 2px solid #ccc;
  width: 850px;
}

.detailedNav > ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.detailedNav > ul > li {
  flex-grow: 1;
}

/* 클래스 본문 */
#classDetail {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 80px 30px;
  padding-bottom: 10px;
}

.classDetailContent {
  width: 100%;
  min-height: 1000px;
  resize: none;
  font-size: 18px;
  padding: 10px;
  border: 1px solid black;
}

.classDetailContent > img {
  width: 100%;
}

.classDetailContent:focus {
  outline-color: #ffb703;
}

.classDetailShow {
  height: auto;
}

#classDetail > img {
  min-width: 100%;
}

.classDetailBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailedNav > ul li a {
  display: inline-block;
  height: 50px;

  color: black;
  text-decoration: none;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.detailedNav > ul li a:hover {
  background-color: #b7def0;
}

/* 버튼 서식 */
.btnClass {
  margin-bottom: 50px;
}

/* bottomBox 서식 */
.bottomBox {
  padding: 0 10px;
}

/* curriculumBox */
.curriculumBox {
  margin: 15px 0;
}

.nav-min-15 {
  font-size: 12px;
  color: #ff1058;
}

.creditBtnSub {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 50px;
  cursor: pointer;
  background-color: #ffb703;
  border: 0;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.creditBtnSub:hover {
  color: #ffb703;
  border: 3px solid #ffb703;
  background-color: white;
  opacity: 0.8;
}

.credit50Pro {
  color: #ff1058;
  font-weight: bold;
  font-size: 30px;
}

.detailedCon {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#detailedSide {
  width: 400px;
  padding-left: 50px;
}

#detailedSilde > section {
  height: 500px;
  top: 50px;
}

.detailedCon > span {
  display: flex;
  align-items: center;
}

.fontGcolor {
  color: #bbb;
}

#detailedSide-d1 {
  position: sticky;
  top: 20%;
}

#detailedSide-d1 > div {
  margin-bottom: 20px;
}

#detailedSide-d1 > div > * {
  margin-bottom: 10px;
}

.detailedPageBrn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.chatBtn {
  height: 50px;
}

.chatBtn > img {
  width: 50px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 20px;
}

#d-classInfoBtn {
  width: 800px;
  padding: 12px;
  background-color: white;
  border: 1px solid #bbb;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

/* 흐리게 추가 */
#blur {
  width: 100%;
  height: 50px;
  position: absolute;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 1) 100%);
  bottom: 0px;
}

#d-classInfoBtn:hover {
  background-color: #ddd;
}

/* 튜터소개 */
.introduceTutor span {
  font-size: 20px;
  font-weight: bold;
}

.introduceTutor {
  width: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.detialedPage-tutorInfo img {
  width: 50px;
  height: 50px;
  margin: auto 0;
}

.detialedPage-tutorInfo {
  margin-bottom: 50px;
}

.tutorInfoSmallBox {
  display: flex;
  align-content: center;
}

.tutorIntroduce {
  margin-top: 20px;
}

.tutorIntroduce pre {
  white-space: pre-wrap;
}

/* 각 영역 제목 */
.boxTitle {
  font-size: 24px;
  font-weight: bold;
  display: block;
  margin: 20px 0;
}

/* 몰라 여긴 */
.detialedPage-tutorInfo > div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 5px;
  justify-content: center;
}

/* 리뷰 */
#dp-review > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#dp-review > div:nth-child(1) > h3 {
  width: 300px;
}

#dp-review > div:nth-child(1) > div > a {
  padding-left: 20px;
  color: black;
  text-decoration: 0;
  font-weight: bold;
}

#dp-review > div:nth-child(1) > div > a:hover {
  color: #ff1058;
}

.d-review {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  min-height: 100px;
}

.d-review > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.d-review > div:last-child {
  justify-content: right;
}

.d-review > div > div {
  display: flex;
  align-items: center;
}

.profileBox {
  width: 180px;
  margin-left: 10px;
}

.profileBox > div {
  display: flex;
  flex-direction: column;
}

.profileBox > img {
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.starBox {
  font-size: 12px;
  color: #ffb703;
}

.titleBox > span {
  display: inline-block;
  font-weight: bold;
  width: 450px;
}

.dp-date-review {
  display: flex;
  justify-content: right;
  margin-right: 10px;
  font-size: 12px;
}

.d-review-content {
  margin: 0 40px;
  padding: 20px 0;
}

.reviewBtnArea {
  margin-right: 10px;
}

.reviewBtnArea > button {
  padding: 2px 8px;
  background-color: white;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.reviewBtnArea > button:hover {
  background-color: #ffb703;
  color: white;
}

/* 비슷한 클래스 */

#d-similarClass {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

#d-similarClass > div > img {
  width: 300px;
}

#d-similarC-1 {
  width: 300px;
  cursor: pointer;
}

#d-similarClass > div > div {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#d-similarClass > div > div > strong {
  padding-left: 1px;
  padding-bottom: 3px;
  font-size: 13px;
}

#d-similarClass > div > div > span > strong {
  padding-left: 1px;
  padding-bottom: 3px;
  font-size: 17px;
}

#d-similarBtn {
  margin: 40px 0;
  padding: 12px;
  background-color: white;
  border: 1px solid #bbb;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

#d-similarBtn:hover {
  background-color: #ddd;
}

/* 추천 클래스 */

#d-suggestBtn {
  margin: 40px 0;
  padding: 12px;
  background-color: white;
  border: 1px solid #bbb;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
}

#d-suggestBtn:hover {
  background-color: #ddd;
}

.d-red {
  color: #ff1058;
  font-size: 20px;
  font-weight: bold;
}

/* 이미지 삭제 */
.delete-image {
  position: absolute;
  top: 0;
  right: 7px;
  font-size: 20px;
  cursor: pointer;
}

.thumbnailBox {
  position: relative;
}

.inputImage {
  display: none;
}

#inputTtile2 {
  border-bottom: 2px solid #ddd;
  font-size: 20px;
  font-weight: bold;
}

#inputTtile2:focus-within {
  border-bottom-color: #ffb703;
}
.inputBox {
  border: none;
  outline: none;
}

#classPrice {
  border-bottom: 2px solid #ddd;
}

#classPrice:focus-within {
  border-bottom-color: #ffb703;
}

.urlBox {
  margin-top: 20px;
  display: flex;
}

#url {
  border-bottom: 2px solid #ddd;
  width: 400px;
  margin-left: 50px;
}

#url:focus-within {
  border-bottom-color: #ffb703;
}

#toggleButton {
  position: absolute;
  top: 40px;
  left: 30px;
  border: 1px solid black;
  background: white;
  width: 100px;
  height: 30px;
}

#output {
  display: none;
}
