* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100%;
}

/* a태그 서식 */
a {
 text-decoration: none;
 color: black;
}

/* 상단 슬라이드 */
.infinitySlider img {
  width: 100%;
}

.infinitySlider ul {
  white-space: nowrap;
  transition: 0.5s;
  font-size: 0;
  width: 1280px;
}

.infinitySlider li {
  display: inline-block;
}

/* 커뮤니티 */
div {
  /* border: 1px solid black; */
}

.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.gridBoxTitle {
  height: 80px;
  width: 99%;
  font-size: 40px;
  padding: 10px 20px;
  border-radius: 10px;

  background-color:#023047;
  color: white;
}

/* 게시글 목록 */
.gridBoxContents {
  display: flex;
  margin: 5px 10px;
  flex-direction: column;
}

.boardTitle {
  display: inline-block;
  width: 430px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gridBoxContents ul {
  width: 100%;
}

.gridBoxContents > ul > li {
  margin-top: 15px;
}

.gridBoxContentUpper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #ddd;
}

.gridBoxContentUpper > *:nth-child(1){
  display: flex;
  width: 130px;
}

.gridBoxContentUpper > *:nth-child(2){
  width: 100px;
}
.gridBoxContentUpper > *:nth-child(3){
  text-align: right;
  flex-grow: 1;
}

.gridBoxContentUpper img {
  width: 24px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 5px;
}

.gridBoxSub > * {
  margin-left: 5px;
}

.hashtagBox {
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gridBoxContentLower {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid black;
  justify-content: space-between;
}

.boardContent > * {
  margin-left: 5px;
}

/* 해시태그, 해결여부 서식 */
.unsolved {
  display: inline-block;
  background-color: #F0B7B7;
  border-radius: 5px;
  padding: 3px 5px;
}

.solved {
  display: inline-block;
  background-color: #B7F0D5;
  border-radius: 5px;
  padding: 3px 13px;
}

.hashtag {
  display: inline-block;
  background-color: #B7DEF0;
  padding: 3px 5px;
  border-radius: 20px;
}

/* 그리드 페이드 */
#gridFade {
  width: 100%;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gridFadecontentBox {
  position: absolute;
  top: 100px;
}

.gridFadecontentBox img {
  width: 500px;
  height: 300px;
}

/* 그리드 페이드 조작 */
#gridFadeController ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

#gridFadeController li {
  padding: 0 10px;
}

#fadeLeft, #fadeRight {
  cursor: pointer;
}